@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&display=swap");

:root {
  /* how to use */
  /* --blue: #1e90ff;
  var(--blue) */

  --color-primary: rgb(24, 32, 74);
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --color-red: #ff3838;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Varela Round", sans-serif;
  height: 100%;
  background-color: whitesmoke;
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 114.4px 1fr;

  /* height of grid items */
  height: 100%;
  overflow: hidden;
}

/* total 6 sections are there */

/* logo design */
.logo {
  /* height: 150px; */
  display: block;
  text-decoration: none;
  padding: 1.2rem;
  text-align: center;
  /* background-color: bisque; */
}

.logo:link,
.logo:visited {
  color: var(--color-primary);
}

.logo i {
  font-size: 2rem;
  color: var(--color-red);
  margin-bottom: 0.25rem;
}

.logo__name {
  font-family: "Dosis", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 800;
}

/* search bar design */
#search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_wrap {
  width: 500px;
  margin: 38px auto;
}

.search_wrap .search_box {
  position: relative;
  width: 500px;
  height: 60px;
}

.search_wrap .search_box .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  font-size: 18px;
}

.search_wrap .search_box .btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #7690da;
  z-index: 1;
  cursor: pointer;
}

.search_wrap .search_box .btn:hover {
  background: #708bd2;
}

.search_wrap .search_box .btn.btn_common .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.search_wrap.search_wrap_3 .search_box .input {
  padding-right: 80px;
  border-radius: 50px;
}

.search_wrap.search_wrap_3 .search_box .btn {
  right: 0px;
  border-radius: 50%;
}

/* personal msg design */
.welcome-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.welcome-msg p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
  padding: 1.5rem;
  padding-left: 0;
  padding-top: 2rem;
}

.highlight {
  position: relative;
}

.highlight::after {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: var(--gradient-primary);
}

/* menu design */
/* kinda nav bar items */

#menu {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.menu-items .menu-item {
  display: block;
  text-decoration: none;
  color: var(--color-primary);

  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

  border-radius: 1.5rem;
  padding: 1rem;

  /* background-color: #fff; */
}

.menu-item:hover {
  background-color: var(--color-primary);
  color: #ccc;
}

/* food container design */
#food-container {
  overflow-x: hidden;
  overflow-y: auto;
  /* background-color: orange; */
  box-sizing: content-box;
}

/* hides the scrollbar without disabling scrolling */
#food-container::-webkit-scrollbar {
  display: none;
}

.pure-veg__container,
.chicken-specials__container,
.biryanis__container,
.chinese__container,
.paneer-specials__container {
  padding-left: 1.75rem;
}

.category-name {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: bolder;
  color: var(--color-primary);
  padding: 1.75rem 1.25rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.item-card {
  width: 190px;
  /* height: 220px; */
  padding: 0.8rem;
  padding-top: 0.3rem;
  padding-bottom: 0.9rem;
  margin: 1rem;
  margin-top: 0;
  display: inline-block;
  border-radius: 15px;
  background-color: rgb(253, 221, 226);
  cursor: pointer;

  transition: 0.3s all ease-in-out;
}

/* On hovering the card, scale it to 1.1 */
.item-card:hover {
  transform: scale(1.1);
}

.item-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 0.3rem;
}

.item-card__top .rating {
  font-size: 13px;
  padding: 0.4rem 0.5rem;
  background-color: black;
  color: gold;
  border-radius: 10px;
}

.item-card__top .add-to-cart {
  font-size: 1.1rem;
  padding: 0.5rem;
  border-radius: 100%;
}

.item-card img {
  height: 120px;
  width: 120px;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

.item-card .item-name {
  font-size: 17px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.4rem;
}

.item-card .item-price {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.highlight__wishlist-btn {
  color: white;
  background-color: var(--color-red);
}

/* our specials design */
/* #our-specials {
  background-color: violet;
} */

.special-items__header {
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  padding: 2rem 0;
  text-align: center;
  font-style: italic;

  color: var(--color-primary);
}

.special-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.special-items > li {
  list-style: none;
  /* margin: 1rem 0; */
  width: 80%;
}

.special-items .special-item {
  display: block;
  text-decoration: none;
  color: var(--color-primary);

  font-family: "Quicksand", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;

  border-radius: 1.5rem;
  padding: 1rem;

  /* background-color: #fff; */
}

.special-item:hover {
  background-color: var(--color-primary);
  color: #ccc;
}

/* my wishlist section */
#my-wishlist {
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  padding: 2rem;
  font-family: "Quicksand", sans-serif;
}

.wishlist-title {
  /* font-family: "Quicksand", sans-serif; */
  font-size: 2rem;
  font-weight: bolder;
  color: var(--color-primary);
  padding-bottom: 2rem;
  text-align: center;
}

#my-wishlist table {
  width: 100%;
  /* margin-top: 20px; */
  margin-top: 1rem;
  text-align: center;
  background-color: #fff;
  padding-bottom: 1rem;
}

#my-wishlist table thead th {
  font-size: 25px;
  padding: 1.25rem 2rem;
  background-color: rgba(255, 127, 80, 0.799);
  /* border-radius: 1rem; */
}

#my-wishlist table tbody td {
  /* padding: 10px 0; */
  font-size: 1.25rem;
}

.wishlist__item-img-container {
  /* border-radius: 100%; */
}

.wishlist__item-img {
  width: 75px;
  height: 75px;
  display: block;
  /* height: 100%;
  width: 100%; */
  border-radius: 100%;
  margin: 0 auto;
  margin-top: 1rem;
}

.wishlist__item-name {
  font-weight: bold;
}

.wishlist__item-quantity {
  /* font-size: 2rem; */
  font-weight: bold;
}

/* quantity + / - btn */
.wishlist__item-quantity .increase-item,
.wishlist__item-quantity .decrease-item {
  outline: none;
  border: none;
  font-size: 16px;
  background: lightcoral;
  /* color: white; */
  border-radius: 3px;
  cursor: pointer;
  margin: 0 0.5rem;
  padding: 1.5px 3px;
  color: #333;
  font-size: 1.3rem;
  min-width: 1.5rem;

  box-shadow: 1px 1px 1px gray;
  transition: all 0.3s ease-in-out;
}

.wishlist__item-quantity .increase-item:active,
.wishlist__item-quantity .decrease-item:active {
  box-shadow: 0 0 0 white;
  transform: translate(0, 1.5px);
}

.wishlist__item-price {
  font-weight: bold;
}

.wishlist-checkout {
  background-color: rgba(255, 127, 80, 0.799);
  /* padding: 0 3.5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 1rem; */
  padding: 1rem 2rem;
}

.wishlist__checkout-btn {
  font-family: "Dosis", sans-serif;
  outline: none;
  border: none;
  background: crimson;
  color: #ddd;
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  bottom: 30px;
  /* margin: 15px 0; */
  cursor: pointer;
  box-shadow: 2px 1px 2px gray;
  transition: all 0.3s ease-in-out;
}

/* click effect on checkout btn */
.wishlist__checkout-btn:active {
  box-shadow: 0 0 0 white;
  transform: translate(0, 2.5px);
}

.total-amount-txt {
  font-size: 1.2rem;
}

.total-amount {
  font-size: 1.1rem;
  font-weight: bold;
}

/* Order checkout modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 2rem 2rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.order-success__modal {
  padding: 1.5rem 1rem;
  text-align: center;
  color: rgb(24, 32, 74);
}

.order-success__message-main {
  font-size: 25px;
  font-weight: 500;
}

.continue-msg {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.btn__order-success-okay {
  display: inline-block;
  background-color: var(--color-primary);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10rem;
  cursor: pointer;

  padding: 5px 10px;
  margin-top: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 100;
  transition: all 0.5s;
}

/* Logout modal */

.logout__modal {
  padding: 2rem;
  font-size: 1.75rem;
  color: var(--color-primary);
}

.logout__message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logout__message-main {
  padding-bottom: 0.5rem;
  font-weight: 600;
}

.logout-btns {
  display: inline-block;
  margin: 0 auto;
}

.btn__logout {
  /* display: block; */
  text-decoration: none;
  background-color: var(--color-primary);
  color: #fff;
  opacity: 0.9;
  border-radius: 4px;
  border-style: none;

  cursor: pointer;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;

  margin-top: 1rem;
  outline: none;
  padding: 7px 14px;
  /* text-align: center; */
}

.btn__logout:first-child {
  margin-right: 3rem;
}

/* Utilities */
.hidden {
  display: none;
}
